#!/usr/bin/env node

[Unit]
Description=314 Automation API Service

[Service]
ExecStart=/home/apps/314-automation/api.app.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/apps/314-automation

[Install]
WantedBy=multi-user.target